# Credentials and Environment
.env
.dbt/
profiles.yml
docker/postgres_data/
.user.yml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
logs/

# IDE
.vscode/
.idea/